@import "bourbon";
@import "font-awesome";

body {
  background: #e2ebf3;
}
h1{
  margin-left: 20px;
}
h1:hover{
  background-color: #333333;
}
ul{
  list-style: none;
  margin-left: 20px;
  padding: 4px;
  max-width: 100%;
  li{
    font-size: 24px;
    padding: 5px 0;
    max-width: 100%;
  } 
}
.names:hover{
    background-color: #333333;
 }
.contact{
  float: left;
  margin-left: 20px;
  max-width: 33%;
}